In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import string

from nltk.corpus import stopwords

In [2]:
df_original = pd.read_csv("X.csv", index_col = 0)
df = df_original
df.head(5)

,designation,description,productid,imageid
0,Olivia: Personalisiertes Notizbuch / 150 Seite...,NaN,3804725264,1263597046
1,Journal Des Arts (Le) N° 133 Du 28/09/2001 - L...,NaN,436067568,1008141237
2,Grand Stylet Ergonomique Bleu Gamepad Nintendo...,PILOT STYLE Touch Pen de marque Speedlink est ...,201115110,938777978
3,Peluche Donald - Europe - Disneyland 2000 (Mar...,NaN,50418756,457047496
4,La Guerre Des Tuques,Luc a des id&eacute;es de grandeur. Il veut or...,278535884,1077757786

In [26]:
def column_junction(column1,column2):
    if str(column2).lower() =="nan":
        return str(column1)
    else:
        return str(column1) + " " + str(column2)

df["text"] = df.apply(lambda x : column_junction(x["designation"],x["description"]),axis=1)
#df["text"] = df.apply(lambda x : str(x["designation"]) + " " + str(x["description"]),axis=1)

In [4]:
df["text"]= df["text"].str.lower()

In [5]:
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree
df["text"]= df["text"].apply(lambda x:remove_punctuation(x))

In [6]:
stopword = stopwords.words('english')
def remove_stopwords(text):
    output= " ".join([word for word in str(text).split() if word not in stopword])
    return output
#applying the function
df["text"]= df["text"].apply(lambda x:remove_stopwords(x))

In [7]:
stopword = stopwords.words('french')
df["text"]= df["text"].apply(lambda x:remove_stopwords(x))

In [8]:
df.head()

,designation,description,productid,imageid,text
0,Olivia: Personalisiertes Notizbuch / 150 Seite...,NaN,3804725264,1263597046,olivia personalisiertes notizbuch 150 seiten p...
1,Journal Des Arts (Le) N° 133 Du 28/09/2001 - L...,NaN,436067568,1008141237,journal arts n° 133 28092001 lart marche salon...
2,Grand Stylet Ergonomique Bleu Gamepad Nintendo...,PILOT STYLE Touch Pen de marque Speedlink est ...,201115110,938777978,grand stylet ergonomique bleu gamepad nintendo...
3,Peluche Donald - Europe - Disneyland 2000 (Mar...,NaN,50418756,457047496,peluche donald europe disneyland 2000 marionne...
4,La Guerre Des Tuques,Luc a des id&eacute;es de grandeur. Il veut or...,278535884,1077757786,guerre tuques luc ideacutees grandeur veut org...

In [9]:
from collections import Counter
cnt = Counter()
for text in df["text"].values:
    for word in text.split():
        cnt[word] += 1
        
RAREWORDS = set([w for (w, wc) in cnt.most_common() if wc == 1])
def remove_rarewords(text):
    return " ".join([word for word in str(text).split() if word not in RAREWORDS])

df["text"] = df["text"].apply(lambda text: remove_rarewords(text))
df.head()

[('x', 75867),
 ('br', 40907),
 ('1', 37855),
 ('cm', 33322),
 ('nan', 29801),
 ('taille', 24783),
 ('couleur', 23459),
 ('2', 22849),
 ('plus', 22278),
 ('piscine', 22035)]

In [ ]:
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

df["text_lemmatized"] = df["text"].apply(lambda text: lemmatize_words(text))