In [4]:
import pandas as pd

df = pd.read_csv("model_training_history.csv",index_col = 0)

df.head()

       loss  accuracy  val_loss  val_accuracy
0  3.226780  0.088792  3.172779      0.148472
1  3.011660  0.155750  3.044574      0.174672
2  2.860609  0.189229  2.952433      0.196507
3  2.742367  0.240175  2.885849      0.231441
4  2.641483  0.282387  2.842214      0.257642

In [5]:
df["version"] = 1
df.head()

       loss  accuracy  val_loss  val_accuracy  version
0  3.226780  0.088792  3.172779      0.148472        1
1  3.011660  0.155750  3.044574      0.174672        1
2  2.860609  0.189229  2.952433      0.196507        1
3  2.742367  0.240175  2.885849      0.231441        1
4  2.641483  0.282387  2.842214      0.257642        1

In [6]:
df=df[["version", "loss", "accuracy", "val_loss","val_accuracy"]]

In [12]:
df["version"].iloc[-1]

2

In [15]:
last_model_val_accuracy = max(df[df["version"] == 1]["val_accuracy"])
print(last_model_val_accuracy)

0.2838428020477295

In [17]:
df.to_csv("model_training_history.csv")

In [18]:
df.head(10)

   version      loss  accuracy  val_loss  val_accuracy
0        1  3.226780  0.088792  3.172779      0.148472
1        1  3.011660  0.155750  3.044574      0.174672
2        1  2.860609  0.189229  2.952433      0.196507
3        1  2.742367  0.240175  2.885849      0.231441
4        1  2.641483  0.282387  2.842214      0.257642
5        1  2.553482  0.346434  2.801746      0.270742
6        1  2.470644  0.356623  2.769466      0.275109
7        1  2.391079  0.377001  2.742544      0.283843
8        1  2.316660  0.394469  2.722164      0.279476
9        1  2.246961  0.409025  2.701976      0.275109

In [20]:
df1 = df.drop(df.index[-5:])
df1.head(10)

   version      loss  accuracy  val_loss  val_accuracy
0        1  3.226780  0.088792  3.172779      0.148472
1        1  3.011660  0.155750  3.044574      0.174672
2        1  2.860609  0.189229  2.952433      0.196507
3        1  2.742367  0.240175  2.885849      0.231441
4        1  2.641483  0.282387  2.842214      0.257642